* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./images/stars.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-position: 100%; */
    /* height: 100%; */
    /* background-clip: border-box; */

}

.MainSolorSystemContainer {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.mercury {
    width: 20px;
    height: 20px;
    background-color: #9e724a;
    top: 135px;
    left: 11%;
    border-radius: 50%;
    position: relative;
}

.mercuryClass {
    content: "";
    position: absolute;
    /* border: solid 4px #370491; */
    width: 170px;
    height: 170px;
    top: 210px;
    left: -16px;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: orbit;
    animation-duration: 15s;
}

.venus {
    width: 18px;
    height: 18px;
    background-color: #5d3019;
    top: 200px;
    left: 192px;
    border-radius: 50%;
    position: relative;
}

.venusClass {
    content: "";
    position: absolute;
    /* border: solid 1px #370491; */
    width: 280px;
    height: 220px;
    top: 165px;
    left: -40px;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: orbit;
    animation-duration: 10s;
}

.Earth {

    width: 25px;
    height: 25px;
    /* background-color:  rgba(0,142,247,255); */
    background-color:rgb(34, 228, 34);
    top: -10px;
    left: 124px;
    border-radius: 50%;
    position: relative;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.EarthClass {
    content: "";
    position: absolute;
    width: 350px;
    height: 280px;
    /* border: solid 5px rgba(73, 72, 72, 0.185); */
    /* border: solid 5px rgba(248, 29, 29, 0.185); */
    top: 165px;
    left: -71px;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: orbit;
    animation-duration: 18s;
}

.mars {
    width: 22px;
    height: 22px;
    background-color: #e46c3d;
    top: 75px;
    left: 12px;
    border-radius: 50%;
    position: relative;
}

.marsClass {
    content: "";
    position: absolute;
    width: 300px;
    height: 200px;
    /* border: solid 3px #370491; */
    top: 180px;
    left: -105px;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: orbit;
    /* animation-duration: 14s; */
    animation-duration: 40s;
}


.Jupiter {
    width: 22px;
    height: 22px;
    background-color: #e9be81;
    top: 86px;
    left: 12px;
    border-radius: 50%;
    position: relative;
}

.JupiterClass {
    content: "";
    position: absolute;
    width: 400px;
    height: 300px;
    /* border: solid 1px #370491; */
    top: 100px;
    left: -130px;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: orbit;
    animation-duration: 14s;
}
.Saturn {
    width: 22px;
    height: 22px;
    background-color: #f7db67;
    top: 110px;
    left: 12px;
    border-radius: 50%;
    position: relative;
}

.SaturnClass {
    content: "";
    position: absolute;
    width: 400px;
    height: 300px;
    /* border: solid 1px #370491; */
    top: 70px;
    left: -155px;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: orbit;
    animation-duration: 50s;
}
.Uranus {
    width: 28px;
    height: 22px;
    background-color: #0d739a;
    top: 125px;
    left: 12px;
    border-radius: 50%;
    position: relative;
}

.UranusClass {
    content: "";
    position: absolute;
    width: 500px;
    height: 300px;
    /* border: solid 1px #370491; */
    top: 50px;
    left: -170px;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: orbit;
    animation-duration: 15s;
}
.Neptune {
    width: 40px;
    height: 35px;
    background-color: #446bf7;
    top: 145px;
    left: 12px;
    border-radius: 50%;
    position: relative;
}

.NeptuneClass {
    content: "";
    position: absolute;
    width: 700px;
    height: 500px;
    /* border: solid 1px #1a0342; */
    top: 8px;
    left: -205px;
    border-radius: 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: orbit;
    animation-duration: 12s;
}




@keyframes orbit {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}


#sun {
    position: absolute;
    margin-top: 170px;
   
}

.sun {
    width: 70px;
    height: 70px;
    background-color: rgb(221, 221, 21);
    border-radius: 50%;
    background: #ec0909;
    box-shadow: inset 50px 50px 100px #dff708,
        inset -50px -50px 100px #f1ee1b;
    top:90px;
    left: 50%;
    position: relative;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.NameOfOrbitors{
    text-align: center;
    height: 450px;
    width: 150px;
    padding: 10px;
    position: absolute;
    /* background: white; */
    left: 60px;
    top: 150px;
    border-radius: 20px;
    box-shadow: inset 50px 50px 100px #fff3f3;

    border: 10px solid rgb(214, 207, 209);
}
.NameOfOrbitors >div{
    padding: 10px;
}
.nameofProject{
    border-radius: 50px;
    padding: 20px;
    font-size: 35px;
    position: absolute;
    top: 20px;
    color: rgb(105, 224, 115);
    left: 50px;
    box-shadow: inset 50px 50px 100px #fff3f3;
}
.name {
    color: rgb(238, 228, 92);
    font-size: 20px;
    text-align: end;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.asideImage{
    position: absolute;
    right: 0;
    z-index: -1;
}
#mone{
    /* z-index: 1; */
    font-size: 50px;
    color: white;
    position: absolute;
    left: 500px;
    top: 0px;
    transform: rotate(-30deg);
}
.str{
    width: 20px;
    height: 20px;
}
.uranus{
    width: 20px;
    height: 20px;
}
.neptune,.jupiterimg,.mar,.vns,.mer{
    width: 20px;
    height: 20px;
}
/* .geff{
    background: url('./images/giphy.gif') 200px 200px;
z-index: 100;
} */